@charset "utf-8";

/*========= ナビゲーションドロップダウンのためのCSS ===============*/

/*==ナビゲーション全体の設定*/
nav{
  background:#333;
  color:#fff;
  text-align: center;
}
/*ナビゲーションを横並びに*/
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
/*2階層目以降は横並びにしない*/
nav ul ul{
  display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li{
  position: relative;
}

/*ナビゲーションのリンク設定*/
nav ul li a{
  display: block;
  text-decoration: none;
  color: #999;
  padding:20px 35px;
  transition:all .3s;
}

nav ul li li a{
  padding:10px 35px;
}

nav ul li a:hover{
  color:#fff; 
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
nav ul li.has-child::before{
  content:'';
  position: absolute;
  left:15px;
  top:25px;
  width:6px;
  height:6px;
  border-top: 2px solid #999;
    border-right:2px solid #999;
    transform: rotate(135deg);
}

/*3階層目を持つliの矢印の設定*/
nav ul ul li.has-child::before{
  content:'';
  position: absolute;
  left:6px;
  top:17px;
  width:6px;
  height:6px;
    border-top: 2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(45deg);
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
nav li.has-child ul{
    /*絶対配置で位置を指定*/
  position: absolute;
  left:0;
  top:62px;
  z-index: 4;
    /*形状を指定*/
  background:grey;
  width:180px;
    /*はじめは非表示*/
  visibility: hidden;
  opacity: 0;
    /*アニメーション設定*/
  transition: all .3s;
}

/*hoverしたら表示*/
nav li.has-child:hover > ul,
nav li.has-child ul li:hover > ul,
nav li.has-child:active > ul,
nav li.has-child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a{
  color: #fff;
  border-bottom:solid 1px rgba(255,255,255,0.6);
}

nav li.has-child ul li:last-child a{
  border-bottom:none;
}

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active{
  background:#3577CA;
}


/*==3階層目*/

/*3階層目の位置*/
nav li.has-child ul ul{
  top:0;
  left:182px;
  background:rgb(182, 173, 173);
}

nav li.has-child ul ul li a:hover,
nav li.has-child ul ul li a:active{
  background:#448ED3;
}

.picture {
  height: auto;
  position: relative;

}
.picture p {
  position: absolute;
  color: #ccc;
  top:15px;
  left:15px;
  font-size: 80px;
}

.se {
  display: flex;
  background-color: #ccc;
  width: calc(50%);
  margin: auto;
  text-align: center;
}

ul .pro:hover{
  color: #d60e0e;
}

#d1 {
  text-align: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border: solid 10px white;
}

#d2 {
  text-align: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border-left: solid 5px white;
  border-right: solid 5px white;
  border-bottom: solid 10px white;
  border-top: solid 10px white;
}

#d3 {
  text-align: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border: solid 10px white;
}

.text {
  text-align: left;
  text-align: justify;
}

body {
  background-color: #ccc;
}

th{
  font-size: 100%;
  font-weight: bold;
  padding: 10px 5px;
  background: #F0F0F0;
  border: 1px solid #AAA;
  text-align: center;
  vertical-align: middle;
  line-height: 1.1;
  color: #484848;

}

td{
  font-size: 100%;
  padding: 10px;
  border: 1px solid #AAA;
  text-align: left;
  vertical-align: middle;
  line-height: 1.3;
}

/* table {
  margin-left: auto;
  margin-right: auto;
} */

table {
  width: 400px;
}
.text_text {
  text-align: left;
  margin: 10px;
}

#profile1 {
  text-align: center;
  display: flex;
  justify-content: center;
}


.photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.photo1 {
  position: relative;
  padding: 10px;
  margin:  1px;
  text-align:  center;
  box-sizing: border-box;
  width: calc(50% -22px);
}
.photo1 p {
  position: absolute;
  color: #fff;
  font-weight: bold;
  top: 10px;
  left:15px;
}



.control {
  margin-bottom: 3em;
}

.control textarea {
  border-bottom: 1px solid #d1d1d1;
  font-size: 1.2em;
  width: 100%;
  padding: 8px;
}

.content {
  position: relative;
  margin: 10px auto;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  max-width: 600px;
  padding: 30px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: .5em;
}

.required {
  margin-left: .3em;
  color: #f33;
  font-size: .9em;
  padding: 3px;
  background-color: #fee;
  font-weight: bold;
}

.error {
  color: #d60e0e;
  font-size: 60%;
}

.check-info {
  color: #2b546a;
  font-weight: bold;
}
 

button{
  background-color: #d1d1d1;
  border-radius: 10px;
  border:#d1d1d1 ;
  cursor: pointer;
  width:100px;
  height:40px;
}
button:hover{
  color: #fff;
  background: #AAA;
}
.scrolldown4{
  /*描画位置※位置は適宜調整してください*/
position:absolute;
bottom:1%;
right:40%;
  /*矢印の動き1秒かけて永遠にループ*/
animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
    0%{bottom:1%;}
    50%{bottom:3%;}
   100%{bottom:1%;}
}

/*Scrollテキストの描写*/
.scrolldown4 span{
  /*描画位置*/
position: absolute;
left:-20px;
bottom:10px;
  /*テキストの形状*/
color: #eee;
font-size: 0.7rem;
letter-spacing: 0.05em;
/*縦書き設定*/
-ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: -6px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: #eee;
  transform: skewX(-31deg);
}

.scrolldown4:after{
content:"";
  /*描画位置*/
position: absolute;
bottom:0;
right:0;
  /*矢印の形状*/
width:1px;
height: 50px;
background:#eee;
}

.about-head::before {
  content: "About Us";
  position: absolute;
  /* top: -50px; */
  left: 50%;
  font-size: 4rem;
  color: #AAA;
  z-index: -1;
}

.service-head::before {
  content: "Service";
  position: absolute;
  /* top: -50px; */
  left: 50%;
  font-size: 4rem;
  color: #AAA;
  z-index: -1;
}

.prodact-head::before {
  content: "Prodact";
  position: absolute;
  left: 50%;
  font-size: 4rem;
  color: #AAA;
  z-index: -1;
}

.contact-head::before {
  content: "Contact";
  position: absolute;
  left: 50%;
  font-size: 4rem;
  color: #AAA;
  z-index: -1;
}

/*==768px以下の形状*/

@media screen and (max-width:768px){
  nav{
    padding: 0;
  }
  
  nav ul{
    display: block;
  }
  
  nav li.has-child ul,
  nav li.has-child ul ul{
    position: relative;
  left:0;
  top:0;
  width:100%;
  visibility:visible;/*JSで制御するため一旦表示*/
  opacity:1;/*JSで制御するため一旦表示*/
  display: none;/*JSのslidetoggleで表示させるため非表示に*/
  transition:none;/*JSで制御するためCSSのアニメーションを切る*/
}
  
nav ul li a{
  border-bottom:1px solid #ccc;
}

/*矢印の位置と向き*/

nav ul li.has-child::before{
  left:20px;  
}

nav ul ul li.has-child::before{
    transform: rotate(135deg);
  left:20px;
}
    
nav ul li.has-child.active::before{
    transform: rotate(-45deg);
}

}


@keyframes wave-text{
  00%{
    transform: translateY(0em);
  }
  60%{
    transform: translateY(-0.8em);
  }
  100%{
    transform: translateY(0em);
  }
}

  
  h1.textnami1 span{
    display: inline-block;
    animation: wave-text 1s ease-in-out infinite;
  }
  
  /* アニメーション開始タイミングをずらす */
  h1.textnami1 span:nth-of-type(1){ animation-delay: 0.0s; }
  h1.textnami1 span:nth-of-type(2){ animation-delay: 0.1s; }
  h1.textnami1 span:nth-of-type(3){ animation-delay: 0.2s; }
  h1.textnami1 span:nth-of-type(4){ animation-delay: 0.3s; }
  h1.textnami1 span:nth-of-type(5){ animation-delay: 0.4s; }
  h1.textnami1 span:nth-of-type(6){ animation-delay: 0.5s; }
  h1.textnami1 span:nth-of-type(7){ animation-delay: 0.6s; }

/*========= レイアウトのためのCSS ===============*/

h1{
  font-size:2rem;
  text-align: center;
  padding: 20px;
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p{
  margin-top:20px;  
}

small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
}


section{
  padding:30px;
}

section:nth-child(2n){
  background:#f3f3f3; 
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}


@media screen and (max-width:420px){

  #profile1 {
    text-align: center;
    display: block;
    justify-content: center;
  }

  .picture p {
    position: absolute;
    color: #ccc;
    top: 0px;
    left: 0px;
    font-size: 25px;
  }

  .about-head::before {
    content: "About Us";
    position: absolute;
    left: 50%;
    font-size: 1.8rem;
    color: #AAA;
    z-index: -1;
}

table {
  width: 100%;
}
.text_text{
text-align: left;
margin: 10px;
width:100%;
}

.service-head::before {
  content: "Service";
  position: absolute;
  left: 50%;
  font-size: 1.8rem;
  color: #AAA;
  z-index: -1;
}

.se {
  display: block;
  background-color: #ccc;
  width: initial;
  text-align: center;
  margin: initial;
}
#d1 {
  justify-content: initial;
  border: initial;
}
#d2 {
  text-align: center;
  width: 100%;
  flex-direction: row;
  justify-content:initial;
  border:initial;
}
#d3 {
  justify-content: initial;
  border: initial;
}

.prodact-head::before {
  content: "Prodact";
  position: absolute;
  left: 50%;
  font-size: 2rem;
  color: #AAA;
  z-index: -1;
}
.contact-head::before {
  font-size: 2rem;
}

.photo {
  display: block;
}

.photo1 {
  padding: initial;
  margin: initial;
}

.scrolldown4 {
  right: initial;
  right: 10%;

}



}
